<div class="row titulos-produtos">
  <div class="col-12">
    <h2>Destaques da Semana</h2>
  </div>
</div>

<div class="carrossel-destaques" style="display: block;">
  <ul class="autoWidth cS-hidden">
    <li>
      <div class="box-produtos">
        <img src="../../assets/images/caixa-remedio.jpg" class="card-imagem-produto">
        <div class="detalhe-produto">
          <p>Produto Genérico</p>
          <p>R$ 13,29</p>
          <div>
            <button type="button" title="comprar" class="btn btn-primary btn-lg btn-block">Comprar</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<script>
  $(document).ready(function () {
    $('.autoWidth').lightSlider({
      item: 4,
      loop: false,
      slideMove: 2,
      easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
      speed: 600,
      responsive: [{
          breakpoint: 800,
          settings: {
            item: 3,
            slideMove: 1,
            slideMargin: 6,
          }
        },
        {
          breakpoint: 480,
          settings: {
            item: 1,
            slideMove: 1
          }
        }
      ],
      onSliderLoad: function () {
        $('.autoWidth').removeClass('cS-hidden');
      }
    });
  });

</script>
