<br>
<br>
<div class="row tituloCad">
        <h2 style="color: #006172 !important">Novo Cadastro</h2>
    <div class="teste">
        <div class="input-group mt-2">
            <button id="posicionar" style="background-color: #006172 !important" type="button"
                class="btn btn-info btn-block mt-2">Já Tenho Cadastro!</button>
        </div>
    </div>
</div>

<div class="row formCadastro ">
    <div class="row col-lg-6 cadastro align-self-center area-form ">
        <div class="input-group">
            <div class="col-md-6">Nome*
                <div><input type="text" id=nome class="form-control bg-light btn-outline-secondary" placeholder="Nome"
                        required></div>
            </div>
            <div class="col-md-6">Sobrenome*
                <div>
                    <input type="text" id=sobrenome class="form-control bg-light btn-outline-secondary"
                        placeholder="Sobrenome"></div>
            </div>
        </div>

        <div class="col-md-6 input-group mt-2">
            <div class="input-group">
                <div>CPF*
                    <div><input type="text" class="form-control bg-light btn-outline-secondary"
                            onkeypress="$(this).mask('000.000.000-00');"></div>
                </div>

                <div>
                    <div>Gênero
                        <div class="dropdown">
                            <button style="background-color: #006172 !important"
                                class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Escolha uma
                                Opção</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Feminino</a>
                                <a class="dropdown-item" href="#">Masculino</a>
                                <a class="dropdown-item" href="#">Não Identificar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 input-group">
            <div class="col-md-6">Telefone 1*
                <div><input type="text" class="form-control bg-light btn-outline-secondary"
                        onkeypress="$(this).mask('(00) 0000-00009')"></div>
            </div>
            <div class="col-md-6">Telefone 2
                <div><input type="text" class="form-control bg-light btn-outline-secondary"
                        onkeypress="$(this).mask('(00) 0000-00009')"></div>
            </div>
        </div>

        <div class="col-lg-12 input-group">
            <div>Data Nascimento*
                <div>
                    <input type="date">
                </div>
            </div>
        </div>

    </div>

    <div class="row col-lg-6 align-self-center area-form ">
        <div class="input-group mt-2">
            <div class="form-group col-12">E-mail
                <input type="text" class="form-control bg-light btn-outline-secondary" placeholder="seu.email@mail.com">
            </div>
        </div>

        <div class="input-group mt-2">
            <div class="form-group col-6"> Senha*
                <label for="inputPassword2" class="sr-only">Senha</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="********">
            </div>
            <div class="form-group col-6">Confirmar Senha
                <label for="inputPassword2" class="sr-only">Confirmar Senha</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="********">
            </div>
        </div>

        <div class=" cadcheck input-group mb-3 col-12">
            <div class="input-group-prepend">
                <div class="checkCad input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                </div>Desejo receber diariamente as informações e ofertas de produtos.
            </div>
        </div>

        <div>
            <div id="posicionar1" class="input-group mt-2">
                <button id="posicionar" style="background-color: #006172 !important" type="button"
                class="btn btn-info btn-block mt-2">Cadastrar</button>
            </div>
        </div>
    </div>