      <div class="col-md-12 carDesc">
        <div class="row car-desc">
            <ul class="nav nav-tabs">
                <li class="active-prod"><a data-toggle="tab" href="#Caracteristicas"style="color: #016f33 !important">Caracteristicas</a></li> |
                <li><a class="notactive-prod" data-toggle="tab" href="#Descrição"style="color: #016f33 !important">Descrição</a></li>
  
            </ul>
  
            <div class="col-md-12">
            <div class="tab-content">
                <div id="Caracteristicas" class="tab-pane fade">
                    <li><b>Código:</b> 17529</li>
                    <li><b>Marca:</b> Medley</li>
                    <li><b>EAN:</b> 1032165465215</li>
                    <li><b>Fabricante:</b> Medley</li>
                    <li><b>Peso:</b> 20gr</li>
                    <li><b>Quantidade:</b> 60cps</li>
                    <li><b>Principio Ativo:</b> Dipirona</li>
                </div>
                <div id="Descrição" class="tab-pane fade">
                    <p>A dipirona é um medicamento utilizado no tratamento de febre e dor. Os efeitos antitérmico e analgésico podem ser esperados em 30 a 60 minutos após a administração e geralmente persistem por aproximadamente 4 horas.</p>
                </div>
            </div>
            </div>
  
        </div>
    </div>