<header>
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col-lg-6 col-12 superior-topo">
          <a class="navbar-brand" href="#"><img src="../../assets/images/logo raia redimensionado.png"
              class="logo-home"></a>
          <form class="form-inline">
            <input class="form-control mr-sm-1 text-input buscar" type="Search" placeholder="O que deseja encontrar?">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="botao-busca"><img
                src="../../assets/images/search.png" id="imagem-busca"></button>
          </form>
        </div>
        <div class="col-lg-6 col-12 superior-topo img-red">
          <div class="login">
            <img src="../../assets/images/user.png">
            <a href="">Olá Faça seu Login<br>
              Minha conta</a>
          </div>
          <div class="pedidos">
            <img src="../../assets/images/box.png">
            <a href="historico.html">Meus <br> Pedidos</a>
          </div>
          <!-- <div class="cart"> -->
          <a href="" class="cart">
            <div class="left-cart"></div>
            <div class="center-cart">
              <span class="quantity">3 Cesta</span>
              <span class="value">R$ 3,80</span>
            </div>
            <div class="right-cart"></div>
          </a>
          <!-- </div> -->
        </div>
      </nav>
    </div>
  </div>
</header>
