<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-expand navbar-light" style="background-color: #016f33;">
      <div class="collapse navbar-collapse categoria-header" id="navbarNavAltMarkup">
        <div class="navbar-nav categoria-header-links">
          <ul>
            <li><a class="nav-item nav-link" href="categorias.html">Medicamentos</a></li>
            <li><a class="nav-item nav-link" href="categorias.html">Saúde</a></li>
            <li><a class="nav-item nav-link" href="categorias.html">Vitaminas e Suplementos</a>
            </li>
            <li><a class="nav-item nav-link" href="categorias.html">Beleza</a></li>
            <li><a class="nav-item nav-link" href="categorias.html">Dermocosméticos</a></li>
            <li><a class="nav-item nav-link" href="categorias.html">Cuidados diários</a></li>
            <li><a class="nav-item nav-link" href="categorias.html">Infantil</a></li>
            <li><a class="nav-item nav-link" href="categorias.html">Nossas Marcas</a></li>
            <li><a class="nav-item nav-link" href="categorias.html">Promoções</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
